<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stickerworld.stickers">

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/stickermakerlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/stickermakerlogo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity
            android:name=".WhatsAppBasedCode.StickerPackListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_sticker_packs_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WhatsAppBasedCode.StickerPackDetailsActivity"
            android:parentActivityName=".WhatsAppBasedCode.StickerPackListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stickerworld.stickers.WhatsAppBasedCode.StickerPackListActivity" />
        </activity>
        <activity
            android:name=".WhatsAppBasedCode.StickerPackInfoActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName=".WhatsAppBasedCode.StickerPackDetailsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stickerworld.stickers.WhatsAppBasedCode.StickerPackDetailsActivity" />
        </activity>
        <activity android:name=".WhatsAppBasedCode.ImageView.ImageViewActivity" />
        <activity android:name=".WhatsAppBasedCode.ImageView.DisplayActivity" />

        <provider
            android:name=".WhatsAppBasedCode.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>

</manifest>